@{
    ViewBag.Title = "About";
}
<h2>Um síðuna</h2>

<p>Þessi síða er ætluð til þess að hjálpa fólki  fá textabrot við myndefni. Einnig er síðan 
    vettvangur fyrir þá sem vilja sjálfir þýða myndefni.</p>

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Vilt þú gerast meðlimur?</h3>
    </div>
    <div class="panel-body">
        <p>Sem meðlimur á textaland.is getur þú sett inn þínar eigin textaskrár við myndefni. Einnig getur
        þú tekið þátt í að þýða myndefni með öðrum meðlimum síðunnar og tekið þátt í umræðunni.
        </p>
    </div>
</div>