<div class="jumbotron" style="background: none">
    <center>
        <h1>VELKOMIN Á TEXTALAND</h1>
        <hr />
    </center>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Hvað er textaland.is?</h3>
    </div>
    <div class="panel-body">
        <p>Undanfarin ár hefur framboð af kvikmyndum og þáttum aukist gríðalega. Hinsvegar hefur framboð á íslenskum þýðingum ekki
        aukist með sama hætti. Textaland.is er síða sem ætlar að svara þessu framboði. Síðan er ætluð til þess að hjálpa fólki
        að fá texta fyrir myndefnið sitt. Einnig er síðan góður vettvangur fyrir fólk sem vilja og hafa áhuga á því að þýða myndefni
        yfir á íslensku sem og að þýða íslenskar kvikmyndir yfir á önnur tungumál.</p>
    </div>
    <div class="panel-heading">
        <h3 class="panel-title">Hverjir eru á bakvið Textaland.is?</h3>
    </div>
    <div class="panel-body">
        Stofnendur Textaland.is eru Daníel Benediktsson, Hilmar Ragnarsson, Jón Freysteinn Jónsson,
        Jörundur Jörundsson og Sindri Már Sigurjónsson.
    </div>
    <div class="panel-heading">
        <h3 class="panel-title">Hver er sagan á bakvið Textaland.is?</h3>
    </div>
    <div class="panel-body">
        Þessi vefsíða er liður í þriggja vikna verklegu námskeiði vorönn 2014 í HR, en allir stofnendur hennar
        eru nemendur þar.
    </div>
    <div class="panel-heading">
        <h3 class="panel-title">Vilt þú gerast meðlimur?</h3>
    </div>
    <div class="panel-body">
        <p>Sem meðlimur á textaland.is getur þú sett inn þínar eigin textaskrár fyrir myndefni. Einnig getur
        þú tekið þátt í að þýða myndefni með öðrum meðlimum síðunnar og tekið þátt í umræðunni.
        Við á textaland.is viljum að sem flestir verði meðlimir á síðunni og taki þátt í því að mynda skemmtilegt
        samfélag sem vinnur að því að bæta þýðingu á bæði íslensku myndefni sem og erlendu. Enda hefur það verið
        einkar ábótavant undanfarin ár.
        </p>
        <a href="/Account/Register" class="btn btn-info">Gerast meðlimur síðunnar.</a>
    </div>
    <div class="panel-heading">
        <h3 class="panel-title">Hafa samband</h3>
    </div>
    <div class="panel-body">
        <span class="glyphicon glyphicon-earphone"> 666-3500</span> <br />
        <span class="glyphicon glyphicon-envelope"> <a href="mailto:textagaurar@textaland.is">textagaurar@textaland.is</a></span>
    </div>
</div>