<div class="jumbotron" style="background: none">
    <center>
        <h1>ALGENGAR SPURNINGAR</h1>
        <hr />
    </center>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Hvað er Textaland.is?</h3>
    </div>
    <div class="panel-body">
        Á vefsíðunni Textaland.is geturðu fundið og sótt textaskrár við vonandi flestar kvikmyndir og þætti sem
        þér dettur í hug. Það sem gerir Textaland.is þó sérstakt er að sem innskráður notandi geturðu tekið þátt
        í að þýða textaskrár sem aðrir hafa sett inn. Þú getur þýtt eins mikið eða lítið og þú vilt, þýtt heila 
        skrá eða bara leiðrétt línu sem annar notandi þýddi. 
    </div>
    <div class="panel-heading">
        <h3 class="panel-title">Hverjir eru á bakvið Textaland.is?</h3>
    </div>
    <div class="panel-body">
        Stofnendur Textaland.is eru Daníel Benediktsson, Hilmar Ragnarsson, Jón Freysteinn Jónsson,
        Jörundur Jörundsson og Sindri Már Sigurjónsson.
    </div>
    <div class="panel-heading">
        <h3 class="panel-title">Hver er sagan á bakvið Textaland.is?</h3>
    </div>
    <div class="panel-body">
        Þessi vefsíða er liður í þriggja vikna verklegu námskeiði vorönn 2014 í HR, en allir stofnendur hennar 
        eru nemendur þar.
    </div>
</div>

<h2>Ert þú með spurningu?</h2>

<div class="panel-body">
    <a href="mailto:textagaurar@textaland.is" class="btn btn-info">Ekki hika við að senda okkur spurningu!</a>
</div>
