
@{
    ViewBag.Title = "FAQ";
}

<h2>FAQ</h2>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Fyrsta spurning um eitthvað ruglað</h3>
    </div>
    <div class="panel-body">
        Góð spurning! Engin svör samt sem stendur
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Önnur spurning, vonandi virkar þetta...</h3>
    </div>
    <div class="panel-body">
        Thriller er samt í alvöru gott lag.
    </div>
</div>