
@{
    ViewBag.Title = "FAQ";
}

<h2>Algengar spurningar</h2>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Hvað er Textaland.is?</h3>
    </div>
    <div class="panel-body">
        Á vefsíðunni Textaland.is geturðu fundið og sótt textaskrár við vonandi flestar kvikmyndir og þætti sem
        þér dettur í hug.
    </div>
    <div class="panel-heading">
        <h3 class="panel-title">Önnur spurning, vonandi virkar þetta...</h3>
    </div>
    <div class="panel-body">
        Thriller er samt í alvöru gott lag.
    </div>
</div>

<h2>Ert þú með spurningu?</h2>

<div class="panel-body">
    <a href="mailto:textagaurar@textaland.is" class="btn btn-info">Ekki hika við það að spurja!</a>
</div>
