@model IEnumerable<Textaland.Models.SubtitleFile>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TEXTALAND</h1>
</div>

<div class="form-group" style="margin-bottom: 30px">
    <label class="control-label" for="searchInput"></label>
    <center>
        <input class="form-control" id="searchInput" type="text" value="Type your search here"
               style="text-align: center" onfocus="value=''">
    </center>
</div>

<div style="text-align: center">
    <ul class="nav nav-pills" style="margin-bottom: 15px; display: inline-table;">
        <li class="active" style="display: inline"><a href="#newest" data-toggle="tab">Nýjast</a></li>
        <li class="" style="display: inline"><a href="#popular" data-toggle="tab">Vinsælast</a></li>
        <li class="" style="display: inline"><a href="#rating" data-toggle="tab">Rating</a></li>
    </ul>
</div>

<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="newest">
        <table class="table">
            <tr>
                <th>
                    1.
                </th>
                <th>
                    titanic.srt
                </th>
            </tr>
            <tr>
                <th>
                    2. 
                </th>
                <th>
                    pirateofthecarribian.srt
                </th>
            </tr>
            <tr>
                <th>
                    3. 
                </th>
                <th>
                    troy.srt
                </th>
            </tr>
        </table>
    </div>
    <div class="tab-pane fade" id="popular">
        <table class="table">
            <tr>
                <th>
                    1.
                </th>
                <th>
                    toystory.srt
                </th>
            </tr>
            <tr>
                <th>
                    2.
                </th>
                <th>
                    lionking.srt
                </th>
            </tr>
            <tr>
                <th>
                    3.
                </th>
                <th>
                    frozen.srt
                </th>
            </tr>
        </table>
    </div>
    <div class="tab-pane fade" id="rating">
        <table class="table">
            <tr>
                <th>
                    1.
                </th>
                <th>
                    cosmos.srt
                </th>
            </tr>
            <tr>
                <th>
                    2.
                </th>
                <th>
                    gameofthrones.srt
                </th>
            </tr>
            <tr>
                <th>
                    3.
                </th>
                <th>
                    walkingdead.srt
                </th>
            </tr>
        </table>
    </div>
</div>



