@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TEXTALAND</h1>
</div>

<div class="form-group">
    <label class="control-label" for="searchInput"></label>
    <center>
        <input class="form-control" id="searchInput" type="text" value="Type your search here"
               onclick="javascript:hidetext();" style="text-align: center">
    </center>
</div>

