@model IEnumerable<Textaland.Models.TranslationRequest>
         
@{
    ViewBag.Title = "TranslationRequests";
}

<h2>Ósvaraðar beiðnir</h2>

<p>
    <a href="/Translationrequest/NewTranslationRequest" class="btn btn-default" >Senda inn nýja beiðni</a>
</p>
<table class="table">
    <tr>
        <th>
            Tungumál
        </th>
        <th>
            Beiðnir
        </th>
        <th>
            Fjöldi beiðna
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item._language)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item._name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item._numUpvotes)
        </td>
        <td>
           @using (Html.BeginForm("AddVote", "TranslationRequest", item, FormMethod.Post))
           {
              <input type="submit" value="Kjósa" class="btn btn-primary btn-sm" />
           }
        </td>
    </tr>
 
}

</table>

<p>
    <a href="/Translationrequest/NewTranslationRequest" class="btn btn-default">Senda inn nýja beiðni</a>
</p>
