@model IEnumerable<Textaland.Models.SubtitleFile>

@{
    ViewBag.Title = "AllSubtitleFiles";
}

<h2>Textaskrár</h2>

<p>
    <a href="/SubtitleFile/UploadFile" class="btn btn-default btn-sm">Hlaða upp nýrri skrá</a>
</p>
<table class="table table-hover table-striped table-bordered">
    <tr>
        <th>
            Nafn
        </th>
        <th>
            Einkunn
        </th>
        <th>
           Tungumál
        </th>
        <th>
           Sett inn
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a href="/SubtitleFile/AboutSubtitleFile?id=@item.Id">@item._name</a>
        </td>
        <td>
            @item._rating.ToString("#.##")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item._languageFrom)
        </td>
        <td>
            @{
                string date = item._dateAdded.ToShortDateString();
                @Html.Raw(date)
            }
        </td>
    </tr>

}

</table>
