
@{
    ViewBag.Title = "FileError";
}

<div class="jumbotron" style="color: red">
    <h1>FILE ERROR</h1>
</div>

<div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">Því miður kom upp villa - en ekki örvænta!</h3>
    </div>
    <div class="panel-body">
        <p>
            Því miður kom upp villa þegar þú varst að reyna að hlaða upp skránni þinni. Það sem gerðist var
            að uppsetning skráarinnar sem þú varst að hlaða upp var ekki eins og við bjuggumst við. Venjuleg uppsetning 
            á einni línu í .srt skrá er eftirfarandi:
        </p>
        <ol>
            <li>Númer línu.</li>
            <li>Tími.</li>
            <li>Lína 1.</li>
            <li>Mögulega lína 2.</li>
            <li>Mögulega lína 3.</li>
        </ol>
        <p>
            Þannig að það sem gæti hafa komið uppá hjá þér er að þú gætir hafa sett inn enga línu, fleiri en þrjár línur, 
            tíminn ekki á réttum stað og svo framvegis. Við hvetjum þig að reyna aftur
            að hlaða upp skránni þinni þar sem við viljum hafa sem flestar þýðingar á síðunni.
            Ýttu á takka hér fyrir neðan ef þú vilta reyna aftur.
        </p>
        <a href="/SubtitleFile/UploadFile" class="btn btn-warning">Reyndu aftur!</a>
    </div>
</div>



