
@{
    ViewBag.Title = "UploadSubtitleFile";
}

<h2>UploadSubtitleFile</h2>

@using (Html.BeginForm("UploadSubtitleFile", "SubtitleFile", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    //Will only accept .srt files
    <input type="file" name="file" id="uploadFile" onchange="checkFile()" class="btn btn-default"/>
    <input type="submit" value="OK" id="uploadSubmit" class="hidden"/>
}

<div class="alert alert-dismissable alert-danger hidden" id="uploadError">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>Oh snap! That's the wrong file type, try using '.str'</strong>
</div>