
@{
    ViewBag.Title = "UploadError";
}

<div class="jumbotron" style="color: red">
    <h1>UPLOAD ERROR</h1>
</div>

<div class="panel panel-danger">
    <div class="panel-heading">
        <h3 class="panel-title">Því miður kom upp villa - en ekki örvænta!</h3>
    </div>
    <div class="panel-body">
        <p>
            Því miður kom upp villa þegar þú varst að reyna að hlaða upp skránni þinni. Það sem gæti hafa komið fyrir
            er að:
            </p>
        <ul>
            <li>
                Skráin var of stór.
            </li>
            <li>
                Skráin var tóm.
            </li>
        </ul>
        <p>
            Við hvetjum þig að reyna afturað hlaða upp skránni þinni þar sem við viljum hafa sem flestar þýðingar á síðunni.
            Ýttu á takka hér fyrir neðan ef þú vilta reyna aftur.
        </p>
        <a href="/SubtitleFile/UploadFile" class="btn btn-warning">Reyndu aftur!</a>
    </div>
</div>

